* {
    box-sizing: border-box;
}

:root {
    --blue: #006090;
    --red: #C60000;
    --green: #006845;
    --yellow: #c77801;
    --grey: #F4F4F5;
    --dgrey: #72767D;
}

/* Default Tag styling */
html, body {
    margin: 0%;
    background-color: var(--grey)
}

h2 {
    margin-top: 1em;
}

/* Colouring */
.black {
    --color: black;
}
.grey {
    --color: var(--grey);
}
.dgrey {
    --color: var(--dgrey);
}
.blue {
    --color: var(--blue);
}

.red {
    --color: var(--red);
}

.green {
    --color: var(--green);
}

.yellow {
    --color: var(--yellow);
}

.bg-color {
    background-color: var(--color);
}
/* .text-color */
/* list items in ascending order nav >nav>lu nav>lu>li */
/* navbar .navbar ul > li vs .navbar ul li */
/* Ids should be unique to one component or element use classes instead */
.color {
    color: var(--color);
}

/* Navbar styling */
.navbar {
    display:flex;
    justify-content: flex-end;
}

.navbar ul>li {
    padding: 1%;
}

.navbar ul {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 3% 9%;
    margin: 0%;
}
.navbar ul>li>a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 7vw;
}

/* Navbar anchor tag hover styling */
.active {
    border: 2px solid var(--color);
}

.inactive {
    border: 2px solid transparent;
}
.navbar ul>li:hover {
    border:2px solid var(--color);
    transition: 500ms;
}

/* Fonts styling */
.oswold-nav {
    font-family: 'Oswald', sans-serif;
    font-size: 14pt;
    letter-spacing: 0.5pt;
    color: var(--grey);
    font-weight: bold;
}

.oswold-h1 {
    width: max-content;
    font-family: 'Oswald', sans-serif;
    color: var(--color);
    font-weight: bold;
    font-size: 35pt;
}

.oswold-h2 {
    font-family: 'Oswald', sans-serif;
    color: var(--color);
    font-weight: bold;
    font-size: 24pt;
}
.oswold-para {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 24pt;
    letter-spacing: 1pt;
    color: var(--color);
}

.oswold-form {
    letter-spacing: 1pt;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 18pt;
}
.oswold-link {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 18pt;
    color: var(--color);
    letter-spacing: 1pt;
}
.oswold-fineprint {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 10pt;
}

.yellow-border-emphasis {
    border: 2px solid var(--yellow);
}

#col-override {
    color: var(--color);
}

.align-center {
    text-align: center;
}
.alternative-light-weight {
    font-weight: lighter;
}
.align-lhs {
    align-self: flex-start;
}

/* Default page wrapper/s styling*/
.page-wrapper {
    display: flex;
    flex-direction: row;
}

.page-text-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#alt-page-text-wrapper {
    align-items: center; 
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
    width: 100%
}
#alt-page-text-wrapper p {
    padding: 1em 10vw;
}

#alt-page-text-wrapper p>span>img {
    width: 25pt;
}

.home-page-wrapper-padding {
    padding:0% 5vw;
}

.about-page-wrapper-changes {
    padding-right: 8vw;
    flex-direction:row;
}
.page-text-wrapper ol {
    padding-left: 2rem;
}

.page-text-wrapper p {
    margin-top: 1em;
}

#row-container {
    flex-direction: row;
    width: fit-content;
}
#row-container div {
    padding: 0em 3em;
}
/* Default styling for images */
.page-image-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 2.5em;
}

.page-image-wrapper img {
    margin-left: 20%;
    width: 70%;
    height: auto;
}

/* On media query increase min width to 310 for image/s */
.page-image-wrapper >img {
    min-width: 250px;
}

/* Unique image styling */
#quarter-width-img {
    width: 25vw;
}
#half-width-img {
    width: 50vw;
}
#full-width-img {
    width: 100vw;
}

/* Blog card styling */

.blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-card h2 {
    margin: 0em;
}

.blog-card img {
    width: 40%;
    padding-bottom: 4em;
}

/* Experience card styling */
.exp-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 3em;
}

.exp-card img {
    width: 100%;
}

/* Link Styling */
.link-wrapper {
    margin-left: 23.5%;
    width:50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.link-wrapper img {
    margin-left: 0;
    margin-top: 1%;
    height: fit-content;
    width: auto;
}

#in-line-link-wrapper {
    margin-left:0;
    width: auto;
}
/* Homepage contact form styling */
form {
    margin-top: 1em;
}

label, input, textarea{
    display: flex;
    flex-direction: column;
}
label {
    margin:1em 0em;
}
input, textarea{
    width:100%;
    height: 3em;
    border-radius:7px;
    border: solid 2px var(--color);
    background-color: var(--grey);
}

textarea {
    height: 6em;
}

/* Footer Styling */
.footer {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer ul {
    padding-left: 0%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3pt;
    width:15vw;
    height: 5vw;
    background-color: var(--color);
}
.rectangle img {
    height: auto;
    width: 4vw;
}

.footer ul>li:hover {
    transform: scale(0.95);
}

@media only screen and (max-width: 744px) {
    /* General media queries */
    .navbar {
        justify-content: center;
    }
    .navbar ul {
        justify-content: center;
    }
    .navbar ul>li>a  {
        width: 15vw;
        height: 15vw;
    }
    .page-wrapper {
        padding-left: 0%;
        flex-direction: column-reverse;
        align-items: center;
    }
    .page-image-wrapper img {
        margin-left: 0%;
    }
    .page-text-wrapper {
        width: 85%;
    }
    .blog-card img {
        width: 85%;
    }
    .link-wrapper {
        width: 100%;
    }
    .rectangle {
        width: 24vw;
        height: 12vw;
    }
    .rectangle img {
        width: auto;
        height: 10vw;
    }
    #row-container {
        flex-direction:column-reverse ;
    }
    #half-width-img {
        width:100%
    }
    .about-page-wrapper-changes {
        flex-direction: column-reverse;
    }
    .oswold-nav {
        font-size: 12pt;
        letter-spacing: 0.5pt;
    }
    .oswold-h1 {
        font-size: 27pt;
    }
    .oswold-h2 {
        font-size: 16pt;
    }
    .oswold-para {
        font-size: 16pt;
        letter-spacing: 1pt;
    }
    
    .oswold-form {
        letter-spacing: 1pt;
        font-size: 10pt;
    }
    .oswold-link {
        font-size: 10pt;
        letter-spacing: 1pt;
    }
    .oswold-fineprint {
        font-size: 5pt;
    }
    #alt-page-text-wrapper p>span>img {
        width: 16pt;
    }
    .page-text-wrapper ol {
        padding-left: 1rem;
    }
}