* {
    box-sizing: border-box;
}

:root {
    --blue: #006090;
    --red: #C60000;
    --green: #006845;
    --yellow: #D88200;
    --grey: #F4F4F5;
    --dgrey: #72767D;
}

html,body {
    margin: 0%;
    background-color: var(--grey)
}

/* Colouring */
.black {
    --color: black;
}
.grey {
    --color: var(--grey);
}
.dgrey {
    --color: #72767D;
}
.blue {
    --color: var(--blue);
}

.red {
    --color: var(--red);
}

.green {
    --color: var(--green);
}

.yellow {
    --color: var(--yellow);
}

.bg-color {
    background-color: var(--color);
}

.color {
    color: var(--color);
}

/* Navbar classes */
.navbar {
    display:flex;
    justify-content: flex-end;
}

.navbar ul>li {
    padding: 1%;
}

.navbar ul {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 3% 9%;
    margin: 0%;

}
.navbar ul>li>a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: 7vw;
}

/* Navbar anchor tag hover styling */
.active {
    border: 2px solid var(--color);
}

.inactive {
    border: 2px solid transparent;
}
.navbar ul>li:hover {
    border:2px solid var(--color);
    transition: 500ms;
}

/* Fonts styles */
.oswold-nav {
    font-family: 'Oswald', sans-serif;
    font-size: 15pt;
    letter-spacing: 0.5pt;
    color: var(--grey);
    font-weight: bold;
}

.oswold-h1 {
    font-family: 'Oswald', sans-serif;
    color: var(--color);
    font-weight: bold;
    font-size: 35pt;
}
.oswold-h2 {
    font-family: 'Oswald', sans-serif;
    color: var(--color);
    font-weight: bold;
    font-size: 22pt;
}
.oswold-para {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 24pt;
    letter-spacing: 1pt;
    color: var(--color);
}

.oswold-form {
    letter-spacing: 1pt;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 18pt;
}
.oswold-link {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 18pt;
    color: var(--color);
    letter-spacing: 1pt;
}

#col-overide {
    color: var(--color);
}
/* Styling homepage intro */
.homepage-wrapper {
    display: flex;
    flex-direction: row;
}

.homepage-intro-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.homepage-intro-wrapper h1 {
    margin: 0% 0% 0% 10%;
}

.homepage-intro-wrapper p {
    margin: 1em 0% 0% 10%;
}

/* Styling homepage image */
.homepage-image-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.homepage-image-wrapper img {
    margin-left: 18.5%;
    width: 70%;
    height: auto;
}

h2 {
    margin: 1em 0% 0% 10%;
}

/* Stylising for link + arrow */
.link-wrapper {
    margin-left: 18.5%;
    width:50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-wrapper img {
    margin-left: 0;
    margin-top: 1%;
    height: fit-content;
    width: auto;

}
/* Stylising homepage contact form */
form {
    margin: 1em 0% 0% 10%;
}

label, input, textarea{
    display: flex;
    flex-direction: column;
}
label {
    margin:1em 0em;
}
input, textarea{
    width:100%;
    height: 3em;
    border-radius:7px;
    border: solid 2px var(--color);
    background-color: var(--grey);
}

textarea {
    height: 6em;
}
